{% set economic_rows = bca_global_settings_economic_rows %}
{% set tolerance_steps = bca_global_settings_economic_tolerance_steps %}

bca_global_settings_economic_management_off_selected = {
    potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 }  NOT = { has_country_flag = bca_enable_economic_management } } }
    allow = { always = yes }
    effect = {
        hidden_effect = {
            from = { remove_country_flag = bca_enable_economic_management }
        }
    }
}

bca_global_settings_economic_management_off_unselected = {
    potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 }  has_country_flag = bca_enable_economic_management } }
    allow = { always = yes }
    effect = {
        hidden_effect = {
            from = { remove_country_flag = bca_enable_economic_management }
        }
    }
}

bca_global_settings_economic_management_on_selected = {
    potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 }  has_country_flag = bca_enable_economic_management } }
    allow = { always = yes }
    effect = {
        hidden_effect = {
            from = {
                set_country_flag = bca_enable_economic_management
                bca_global_settings_recompute_economic_target_bounds = yes
            }
        }
    }
}

bca_global_settings_economic_management_on_unselected = {
    potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 }  NOT = { has_country_flag = bca_enable_economic_management } } }
    allow = { always = yes }
    effect = {
        hidden_effect = {
            from = {
                set_country_flag = bca_enable_economic_management
                bca_global_settings_recompute_economic_target_bounds = yes
            }
        }
    }
}

{% for row in economic_rows %}
    {% set unlimited_flag = "bca_economic_target_" ~ row.name ~ "_unlimited" %}
    {% set forbidden_flag = "bca_economic_target_" ~ row.name ~ "_forbidden" %}
    bca_global_settings_expect_output_{{ row.name }}_cycle_mode = {
        potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 } } }
        allow = { always = yes }
        effect = {
            custom_tooltip = BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_MODE_TOOLTIP
            hidden_effect = {
                from = {
                    if = {
                        limit = { has_country_flag = {{ forbidden_flag }} }
                        remove_country_flag = {{ forbidden_flag }}
                    }
                    else_if = {
                        limit = { has_country_flag = {{ unlimited_flag }} }
                        remove_country_flag = {{ unlimited_flag }}
                        set_country_flag = {{ forbidden_flag }}
                    }
                    else = {
                        set_country_flag = {{ unlimited_flag }}
                    }
                }
            }
        }
    }

    {% for step in row.steps %}
        bca_global_settings_expect_output_{{ row.name }}_{{ step.id }} = {
            potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 } } }
            allow = {
                from = {
                    has_country_flag = bca_enable_economic_management
                    NOT = { has_country_flag = {{ unlimited_flag }} }
                    NOT = { has_country_flag = {{ forbidden_flag }} }
                }
            }
            effect = {
                custom_tooltip = {{ row.tooltip }}
                hidden_effect = {
                    from = {
                        change_variable = { which = {{ row.variable }} value = {{ step.value }} }
                        bca_global_settings_recompute_economic_target_bounds = yes
                    }
                }
            }
        }

    {% endfor %}
{% endfor %}

{% for step in tolerance_steps %}
    bca_global_settings_economic_tolerance_{{ step.id }} = {
        potential = { exists = from from = { check_variable = { which = bca_gui_active_tab value = 0 } } }
        allow = {
            from = {
                has_country_flag = bca_enable_economic_management
            }
        }
        effect = {
            custom_tooltip = BCA_GLOBAL_SETTINGS_ECONOMIC_TOLERANCE_TOOLTIP
            hidden_effect = {
                from = {
                    if = {
                        limit = { NOT = { is_variable_set = bca_economic_target_tolerance } }
                        set_variable = { which = bca_economic_target_tolerance value = 5 }
                    }
                    change_variable = { which = bca_economic_target_tolerance value = {{ step.value }} }
                    if = {
                        limit = { check_variable = { which = bca_economic_target_tolerance value < 0 } }
                        set_variable = { which = bca_economic_target_tolerance value = 0 }
                    }
                    bca_global_settings_recompute_economic_target_bounds = yes
                }
            }
        }
    }

{% endfor %}
