{% set economic_rows = bca_global_settings_economic_rows %}

defined_text = {
    name = bca_gs_economic_tolerance_display
    random = no
    text = {
        trigger = { is_variable_set = bca_economic_target_tolerance }
        localization_key = "BCA_GLOBAL_SETTINGS_ECONOMIC_TOLERANCE_VALUE_FORMAT"
    }
    default = "BCA_GLOBAL_SETTINGS_ECONOMIC_TOLERANCE_VALUE_DEFAULT"
}

{% for row in economic_rows %}
    defined_text = {
        name = bca_gs_expect_output_{{ row.name }}_value_raw
        value = {{ row.variable }}
    }

    defined_text = {
        name = bca_gs_expect_output_{{ row.name }}_display
        text = {
            trigger = {
                has_country_flag = bca_economic_target_{{ row.name }}_forbidden
            }
            localization_key = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_FORBIDDEN"
        }
        text = {
            trigger = {
                has_country_flag = bca_economic_target_{{ row.name }}_unlimited
            }
            localization_key = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_UNLIMITED"
        }
        default = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_VALUE_FORMAT_{{ row.name|upper }}"
    }

    defined_text = {
        name = bca_gs_expect_output_{{ row.name }}_status
        text = {
            trigger = {
                bca_country_needs_{{ row.name }} = yes
            }
            localization_key = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_STATUS_UNMET"
        }
        default = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_STATUS_MET"
    }

{% endfor %}
