defined_text = {
    name = bca_support_display_image
    random = no
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 1 }
        }
        localization_key = "BCA_SUPPORT_PLATFORM_QR_IMAGE"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 2 }
        }
        localization_key = "BCA_SUPPORT_PLATFORM_THANKS_IMAGE"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 3 }
        }
        localization_key = "BCA_SUPPORT_UNITY_HISS_IMAGE"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 4 }
        }
        localization_key = "BCA_SUPPORT_UNITY_HEADPAT_IMAGE"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 5 }
        }
        localization_key = "BCA_SUPPORT_UNITY_PITIFUL_IMAGE"
    }
    default = "BCA_SUPPORT_PLATFORM_THANKS_IMAGE"
}

defined_text = {
    name = bca_support_display_tooltip
    random = no
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 1 }
        }
        localization_key = "BCA_SUPPORT_PLATFORM_TOOLTIP"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 3 }
        }
        localization_key = "BCA_SUPPORT_UNITY_HISS_TOOLTIP"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 4 }
        }
        localization_key = "BCA_SUPPORT_UNITY_HEADPAT_TOOLTIP"
    }
    text = {
        trigger = {
            check_variable = { which = bca_support_stage value = 5 }
        }
        localization_key = "BCA_SUPPORT_UNITY_PITIFUL_TOOLTIP"
    }
    default = "BCA_SUPPORT_EMPTY_TOOLTIP"
}
