# submod job_regulation
{# GUI display-only values for job regulation. #}
{% set regulated = job_regulation_config.regulated_jobs %}
{% set resources = job_regulation_config.resources %}

bca_jr_display_abs_value = {
    set = $VALUE$
    abs = yes
}

bca_jr_display_scaled_value = {
    set = $VALUE$
    modifier = {
        check_variable_arithmetic = {
            which = value:bca_jr_display_abs_value|VALUE|$VALUE$|
            value >= 1000000
        }
        mult = 0.001
    }
    modifier = {
        check_variable_arithmetic = {
            which = value:bca_jr_display_abs_value|VALUE|$VALUE$|
            value >= 1000
        }
        mult = 0.001
    }
}

bca_jr_display_scaled_abs_value = {
    set = value:bca_jr_display_scaled_value|VALUE|$VALUE$|
    abs = yes
}

bca_jr_display_rounded_scaled_value = {
    set = value:bca_jr_display_scaled_value|VALUE|$VALUE$|
    round_to = $ROUND_TO$
}

bca_jr_display_number = {
    set = value:bca_jr_display_scaled_value|VALUE|$VALUE$|
    modifier = {
        check_variable_arithmetic = {
            which = value:bca_jr_display_scaled_abs_value|VALUE|$VALUE$|
            value >= 100
        }
        set = value:bca_jr_display_rounded_scaled_value|VALUE|$VALUE$|ROUND_TO|1|
    }
    modifier = {
        check_variable_arithmetic = {
            which = value:bca_jr_display_scaled_abs_value|VALUE|$VALUE$|
            value >= 10
        }
        check_variable_arithmetic = {
            which = value:bca_jr_display_scaled_abs_value|VALUE|$VALUE$|
            value < 100
        }
        set = value:bca_jr_display_rounded_scaled_value|VALUE|$VALUE$|ROUND_TO|0.1|
    }
    modifier = {
        check_variable_arithmetic = {
            which = value:bca_jr_display_scaled_abs_value|VALUE|$VALUE$|
            value < 10
        }
        set = value:bca_jr_display_rounded_scaled_value|VALUE|$VALUE$|ROUND_TO|0.01|
    }
}

bca_jr_num_pops_assigned_to_job = {
    base = 0
    complex_trigger_modifier = {
        trigger_scope = $JOB|this$
        trigger = num_pops_assigned_to_job
        parameters = {
            [[POP_GROUP] pop_group = $POP_GROUP$ ]
        }
        mode = add
    }
}

{% for entry in regulated %}
    bca_jr_sort_score_{{ entry.job }} = {
        base = 0
        modifier = {
            OR = {
                has_country_flag = bca_jr_sort_workforce
                NOR = {
                    has_country_flag = bca_jr_sort_output
                    has_country_flag = bca_jr_sort_status
                }
            }
            is_variable_set = bca_jr_total_assigned_workforce_{{ entry.job }}
            add = this.bca_jr_total_assigned_workforce_{{ entry.job }}
        }
        modifier = {
            has_country_flag = bca_jr_sort_status
            NOT = { has_country_flag = bca_jr_mode_manual_{{ entry.job }} }
            NOT = { has_country_flag = bca_jr_mode_empty_{{ entry.job }} }
            add = 100000000
        }
        modifier = {
            has_country_flag = bca_jr_sort_status
            is_variable_set = bca_jr_total_assigned_workforce_{{ entry.job }}
            add = this.bca_jr_total_assigned_workforce_{{ entry.job }}
        }
        {% for resource in resources %}
            modifier = {
                has_country_flag = bca_jr_sort_output
                has_country_flag = bca_jr_filter_{{ resource }}
                is_variable_set = bca_jr_total_output_{{ entry.job }}_{{ resource }}
                add = this.bca_jr_total_output_{{ entry.job }}_{{ resource }}
            }
        {% endfor %}
        modifier = {
            has_country_flag = bca_jr_sort_output
            OR = {
                has_country_flag = bca_jr_filter_all
                has_country_flag = bca_jr_filter_other
            }
            is_variable_set = bca_jr_total_assigned_workforce_{{ entry.job }}
            add = this.bca_jr_total_assigned_workforce_{{ entry.job }}
        }
    }

{% endfor %}
