{# VALUE accepts a variable; SCRIPT_VALUE accepts a named script value. #}
bca_display_abs_value = {
    [[VALUE]set = $VALUE$]
    [[SCRIPT_VALUE]set = value:$SCRIPT_VALUE$]
    abs = yes
}

bca_display_scaled_value = {
    [[VALUE]set = $VALUE$]
    [[SCRIPT_VALUE]set = value:$SCRIPT_VALUE$]
    modifier = {
        check_variable_arithmetic = {
            [[VALUE]which = value:bca_display_abs_value|VALUE|$VALUE$|]
            [[SCRIPT_VALUE]which = value:bca_display_abs_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
            value >= 1000000
        }
        mult = 0.001
    }
    modifier = {
        check_variable_arithmetic = {
            [[VALUE]which = value:bca_display_abs_value|VALUE|$VALUE$|]
            [[SCRIPT_VALUE]which = value:bca_display_abs_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
            value >= 1000
        }
        mult = 0.001
    }
}

bca_display_scaled_abs_value = {
    [[VALUE]set = value:bca_display_scaled_value|VALUE|$VALUE$|]
    [[SCRIPT_VALUE]set = value:bca_display_scaled_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
    abs = yes
}

bca_display_rounded_scaled_value = {
    [[VALUE]set = value:bca_display_scaled_value|VALUE|$VALUE$|]
    [[SCRIPT_VALUE]set = value:bca_display_scaled_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
    round_to = $ROUND_TO$
}

bca_display_number = {
    [[VALUE]set = value:bca_display_scaled_value|VALUE|$VALUE$|]
    [[SCRIPT_VALUE]set = value:bca_display_scaled_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
    modifier = {
        check_variable_arithmetic = {
            [[VALUE]which = value:bca_display_scaled_abs_value|VALUE|$VALUE$|]
            [[SCRIPT_VALUE]which = value:bca_display_scaled_abs_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
            value >= 100
        }
        [[VALUE]set = value:bca_display_rounded_scaled_value|VALUE|$VALUE$|ROUND_TO|1|]
        [[SCRIPT_VALUE]set = value:bca_display_rounded_scaled_value|SCRIPT_VALUE|$SCRIPT_VALUE$|ROUND_TO|1|]
    }
    modifier = {
        check_variable_arithmetic = {
            [[VALUE]which = value:bca_display_scaled_abs_value|VALUE|$VALUE$|]
            [[SCRIPT_VALUE]which = value:bca_display_scaled_abs_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
            value >= 10
        }
        check_variable_arithmetic = {
            [[VALUE]which = value:bca_display_scaled_abs_value|VALUE|$VALUE$|]
            [[SCRIPT_VALUE]which = value:bca_display_scaled_abs_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
            value < 100
        }
        [[VALUE]set = value:bca_display_rounded_scaled_value|VALUE|$VALUE$|ROUND_TO|0.1|]
        [[SCRIPT_VALUE]set = value:bca_display_rounded_scaled_value|SCRIPT_VALUE|$SCRIPT_VALUE$|ROUND_TO|0.1|]
    }
    modifier = {
        check_variable_arithmetic = {
            [[VALUE]which = value:bca_display_scaled_abs_value|VALUE|$VALUE$|]
            [[SCRIPT_VALUE]which = value:bca_display_scaled_abs_value|SCRIPT_VALUE|$SCRIPT_VALUE$|]
            value < 10
        }
        [[VALUE]set = value:bca_display_rounded_scaled_value|VALUE|$VALUE$|ROUND_TO|0.01|]
        [[SCRIPT_VALUE]set = value:bca_display_rounded_scaled_value|SCRIPT_VALUE|$SCRIPT_VALUE$|ROUND_TO|0.01|]
    }
}
