{% set economic_rows = [
    {"name": "energy", "variable": "bca_expect_output_energy"},
    {"name": "minerals", "variable": "bca_expect_output_minerals"},
    {"name": "food", "variable": "bca_expect_output_food"},
    {"name": "alloys", "variable": "bca_expect_output_alloys"},
    {"name": "consumer_goods", "variable": "bca_expect_output_consumer_goods"},
    {"name": "trade", "variable": "bca_expect_output_trade"},
    {"name": "unity", "variable": "bca_expect_output_unity"},
    {"name": "physics_research", "variable": "bca_expect_output_physics_research"},
    {"name": "society_research", "variable": "bca_expect_output_society_research"},
    {"name": "engineering_research", "variable": "bca_expect_output_engineering_research"},
    {"name": "rare_crystals", "variable": "bca_expect_output_rare_crystals"},
    {"name": "volatile_motes", "variable": "bca_expect_output_volatile_motes"},
    {"name": "exotic_gases", "variable": "bca_expect_output_exotic_gases"},
    ] %}

bca_global_settings_recompute_economic_target_bounds = {
    optimize_memory
    if = {
        limit = { NOT = { is_variable_set = bca_economic_target_tolerance } }
        set_variable = { which = bca_economic_target_tolerance value = 5 }
    }
    {% for row in economic_rows %}
        set_variable = { which = bca_economic_target_lower_{{ row.name }} value = {{ row.variable }} }
        subtract_variable = { which = bca_economic_target_lower_{{ row.name }} value = bca_economic_target_tolerance }
        set_variable = { which = bca_economic_target_upper_{{ row.name }} value = {{ row.variable }} }
        add_variable = { which = bca_economic_target_upper_{{ row.name }} value = bca_economic_target_tolerance }
    {% endfor %}
}
