namespace = bca_global_settings_bootstrap
{% set default_manual_manage_jobs = job_regulation_config.default_manual_manage_jobs | default([]) %}

event = {
    id = bca_global_settings_bootstrap.1

    is_triggered_only = yes
    hide_window = yes

    immediate = {
        if = {
            limit = { NOT = { has_global_flag = bca_global_settings_defaults_initialized } }
            set_global_flag = bca_global_settings_defaults_initialized
            every_playable_country = {
                set_variable = { which = bca_reserve_minerals_amount value = 2000 }
                set_variable = { which = bca_reserve_alloys_amount value = 10000 }
                set_variable = { which = bca_reserve_influence_amount value = 200 }
                set_variable = { which = bca_reserve_job_amount value = 50 }
                {% for need_name, need in economic_need_thresholds.items() %}
                    set_variable = { which = {{ need.variable }} value = {{ need.default }} }
                {% endfor %}
                set_variable = { which = bca_economic_target_tolerance value = 5 }
                bca_global_settings_recompute_economic_target_bounds = yes

                remove_country_flag = bca_enable_economic_management
                set_country_flag = bca_retain_low_level_rare_resource_buildings
                remove_country_flag = bca_build_pop_assemble_even_if_no_jobs
                remove_country_flag = bac_remove_pop_assemble_buildings

                set_country_flag = bca_default_disable_auto_destruction_building
                set_country_flag = bca_default_disable_auto_destruction_district
                set_country_flag = bca_default_disable_auto_destruction_zone
            }
        }

        if = {
            limit = { NOT = { has_country_flag = bca_jr_default_manual_manage_job_initialized } }
            set_country_flag = bca_jr_default_manual_manage_job_initialized
            every_playable_country = {
                {% for job in default_manual_manage_jobs %}
                    set_country_flag = bca_jr_mode_manual_{{ job }}
                    remove_country_flag = bca_jr_mode_empty_{{ job }}
                    remove_country_flag = bca_jr_mode_full_{{ job }}
                {% endfor %}
            }
        }
    }
}
