{#automate_job_management = {#}
{#	should_ai_use_job_micro = no#}
{##}
{#	available = {#}
{#		exists = owner#}
{#	}#}
{##}
{#	emergency = yes#}
{#	category = "planet_automation_job_management"#}
{##}
{#	#}
{##}
{#	job_changes = {#}
{#		foundry_reduce_0 = {#}
{#			available = {#}
{#				owner = {#}
{#					has_monthly_income = {#}
{#						resource = alloys#}
{#						value > 0#}
{#					}#}
{#				}#}
{#			}#}
{#			job = foundry#}
{#			amount = -100#}
{#		}#}
{##}
{#		foundry_increase_0 = {#}
{#			available = {#}
{##}
{#			}#}
{##}
{#			job = foundry#}
{#			amount = 100#}
{#		}#}
{#	}#}
{#}#}
