{% import 'component/planet_flag_ps.j2' as pf with context -%}
{% import 'component/conditions.j2' as cond with context %}
{% import 'component/planet_variable.j2' as v with context %}

{% set main_block_strategies = [
    'efficiency',
    'always',
    'job_only',
    'job_bookend'
] -%}
{% set zone_type_outputs_map = zone_type_resource_outputs|default({}, true) -%}

{% macro building_config(building) -%}
            {% if building is string %}
            building = {{ building }}
            {% else %}
            {% for building_key,building_values in building.items() %}
            building = {{ building_key }}
            {% for building_setting_key,building_setting_value in building_values.items() %}
            {{building_setting_key }} = {{ building_setting_value }}
            {% endfor %}
            {% endfor %}
            {% endif %}
{%- endmacro %}

{% macro has_strategy_buildings(item, strategies) -%}
    {%- set found = namespace(value=false) -%}
    {%- for bucket in item.strategy_buckets -%}
        {%- if bucket.strategy in strategies and bucket.buildings -%}
            {%- set found.value = true -%}
        {%- endif -%}
    {%- endfor -%}
    {{- found.value -}}
{%- endmacro %}

{% macro zone_type_available(types) %}
        OR = {
            {% for type in types %}
            bca_has_any_zone_of_type_{{ type }} = yes
            {% endfor %}
        }
{% endmacro %}

{% macro resource_gate(outputs) -%}
    {% if outputs %}
        {% if outputs|length == 1 %}
                bca_empire_needs_{{ outputs[0] }} = yes
        {% else %}
                OR = {
            {% for output in outputs %}
                    bca_empire_needs_{{ output }} = yes
            {% endfor %}
                }
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro building_available(strategy) -%}
    {% if strategy == 'efficiency' %}
            OR = {
                really_requires_more_job = no
                free_district_slots = 0
            }
    {% elif strategy == 'job_only' or strategy == 'job_bookend' %}
            requires_more_job = yes
            free_district_slots = 0
    {% endif %}
{%- endmacro %}

{% macro building_entry(index, building, outputs, block_outputs, strategy, planet_limit=none) %}
	    {{ index }} = {
            {#  #}{{building_config(building)}}{#  #}
    {% if planet_limit is not none %}
			planet_limit = {{ planet_limit }}
    {% endif %}
    {% if outputs != block_outputs or strategy != 'always' %}
            available = {
    {% if outputs != block_outputs %}
                {#  #}{{ resource_gate(outputs) }}{#  #}
    {% endif %}
                {#  #}{{ building_available(strategy) }}{#  #}
            }
    {% endif %}
	    }
{% endmacro %}

{% for item in building_strategy_zone_contexts %}
    {% if has_strategy_buildings(item, main_block_strategies) == 'True' %}
{% set context_building_outputs = item.get('building_outputs', {}) %}
{% set block = namespace(outputs=[]) %}
{% for item_type in item.types %}
    {% for output in zone_type_outputs_map.get(item_type, []) %}
        {% if output not in block.outputs %}
            {% set _ = block.outputs.append(output) %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% for bucket in item.strategy_buckets %}
    {% if bucket.strategy in main_block_strategies %}
        {% for building in bucket.buildings %}
            {% for output in context_building_outputs.get(building, []) %}
                {% if output not in block.outputs %}
                    {% set _ = block.outputs.append(output) %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}
automate_mixed_zone_{{ item.types[0] }}_building = {
	category = "planet_automation_designation_construction"

	emergency = yes
	available = {
		bca_has_minerals_to_build = yes
        {#  #}{{ resource_gate(block.outputs) }}{#  #}
        {#  #}{{ zone_type_available(item.types) }}{#  #}
	}

	buildings = {
        {% set index = namespace(value=0) -%}
        {% for bucket in item.strategy_buckets %}
            {% if bucket.strategy == 'job_bookend' %}
                {% for building in bucket.buildings %}
            {#  #}{{ building_entry(index.value, building, context_building_outputs.get(building, []), block.outputs, bucket.strategy, 1) }}{#  #}
                    {% set index.value = index.value + 1 -%}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for bucket in item.strategy_buckets %}
            {% if bucket.strategy in main_block_strategies and bucket.strategy != 'job_bookend' %}
                {% for building in bucket.buildings %}
            {#  #}{{ building_entry(index.value, building, context_building_outputs.get(building, []), block.outputs, bucket.strategy) }}{#  #}
                    {% set index.value = index.value + 1 -%}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for bucket in item.strategy_buckets %}
            {% if bucket.strategy == 'job_bookend' %}
                {% for building in bucket.buildings %}
            {#  #}{{ building_entry(index.value, building, context_building_outputs.get(building, []), block.outputs, bucket.strategy) }}{#  #}
                    {% set index.value = index.value + 1 -%}
                {% endfor %}
            {% endif %}
        {% endfor %}
	}
}
    {% endif %}
{% endfor %}

{% for item in building_strategy_zone_contexts %}
    {% if has_strategy_buildings(item, ['job_low_priority']) == 'True' %}
{% set context_building_outputs = item.get('building_outputs', {}) %}
{% set block = namespace(outputs=[]) %}
{% for item_type in item.types %}
    {% for output in zone_type_outputs_map.get(item_type, []) %}
        {% if output not in block.outputs %}
            {% set _ = block.outputs.append(output) %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% for bucket in item.strategy_buckets %}
    {% if bucket.strategy in ['job_low_priority'] %}
        {% for building in bucket.buildings %}
            {% for output in context_building_outputs.get(building, []) %}
                {% if output not in block.outputs %}
                    {% set _ = block.outputs.append(output) %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}
automate_mixed_zone_{{ item.types[0] }}_building_job_low_priority = {
	category = "planet_automation_designation_construction"

	emergency = yes
	available = {
		bca_has_minerals_to_build = yes
		{#  #}{{ resource_gate(block.outputs) }}{#  #}
		requires_more_job = yes
		free_district_slots = 0
        {#  #}{{ zone_type_available(item.types) }}{#  #}
	}

	buildings = {
        {% set index = namespace(value=0) -%}
        {% for bucket in item.strategy_buckets %}
            {% if bucket.strategy == 'job_low_priority' %}
                {% for building in bucket.buildings %}
        {{ index.value }} = {
            {#  #}{{building_config(building)}}{#  #}
            {% if context_building_outputs.get(building, []) != block.outputs %}
            available = {
                {#  #}{{ resource_gate(context_building_outputs.get(building, [])) }}{#  #}
            }
            {% endif %}
        }
                    {% set index.value = index.value + 1 -%}
                {% endfor %}
            {% endif %}
        {% endfor %}
	}
}
    {% endif %}
{% endfor %}
