zone_bca_test = {
    icon = GFX_district_specialization_energy
    base_buildtime = @zone_buildtime
    potential = {
        always = no
    }
    unlock = {
        always = no
    }
    max_buildings = 0

    ai_priority = 0
}
