decision_colony_transform = {
    sound = event_administrative_work
    icon = decision_burning_settlement

    resources = {
        category = decisions
    }

    potential = {
        exists = owner
        owner = {
            is_ai = no
            has_country_flag = bac_allow_deurbanization
        }
    }

    effect = {
        remove_all_buildings = yes
        remove_all_districts = yes
        {% for zone in bca_zones | map(attribute='name') | unique | sort %}
            remove_zone = { zone = {{ zone }} all = yes }
        {% endfor %}
    }
    ai_weight = {
        weight = 0
    }
}
