l_japanese:
 colony_automation_event.110.name:0 "アーコロジー計画の候補"
 colony_automation_event.110.desc:0 "自動化システムによると、以下の植民地がアーコロジー計画の前提条件を満たし、十分な資源が確保されています。\n\n確認または改造を開始する惑星を選択してください："

 {% for i in range(1, 10) %}
 colony_automation_event.110.opt.{{ "%02d"|format(i) }}:0 "[bca_arcology_project_candidate_planet_{{ "%02d"|format(i) }}.GetName] £planet£§H[bca_arcology_project_candidate_planet_{{ "%02d"|format(i) }}.bca_planet_size_scripted_loc]§!"
 {% endfor %}
 colony_automation_event.110.locate_all:0 "すべての候補植民地を表示"
 MESSAGE_BCA_ARCOLOGY_CANDIDATE_LOCATE:0 "アーコロジー候補"
 MESSAGE_BCA_ARCOLOGY_CANDIDATE_LOCATE_DESC:0 "$PLANET$ はアーコロジー計画の候補です。"

 colony_automation_event.102.name:0 "アーコロジー計画準備完了"
 colony_automation_event.102.desc:0 "[Root.GetName] £planet£§H[Root.bca_planet_size_scripted_loc]§! はアーコロジー計画の条件を満たしています。今すぐ計画を開始しますか？"
 colony_automation_event.102.a:0 "アーコロジー計画を開始する"
 colony_automation_event.102.b:0 "また後で"
 colony_automation_event.102.c:0 "候補から外す"
 colony_automation_event.102.d:0 "候補リストを確認する"
 bca_no_enough_resources_for_arcology_project:0 "アーコロジー計画を開始すると確保した資源が不足します"

