# compile_variants main job_regulation
{% import 'component/event_gui_shell.j2' as shell %}
{% import 'component/global_settings_components.j2' as gsc %}
{% import 'component/job_regulation_components.j2' as jr %}

{% set window_gap = 12 %}
{% set scroll_container_width = 860 %}
{% set scroll_container_height = 774 %}
{% set scroll_container_y = 60 %}
{% set scroll_container_bottom = scroll_container_y + scroll_container_height %}
{% set outer_padding_x = 24 %}
{% set content_x = outer_padding_x %}
{% set content_left = content_x %}
{% set content_right = scroll_container_width - outer_padding_x %}
{% set content_width = content_right - content_left %}
{% set full_width = content_width %}

{# ---- Support overlay ---- #}
{% set support_panel_size = support_layout.panel_size %}
{% set support_panel_gap = support_layout.panel_gap %}
{% set window_width = scroll_container_width + window_gap * 2 %}
{% set window_height = scroll_container_bottom + window_gap %}
{% set scroll_container_x = window_gap %}
{% set support_panel_x = -support_panel_size - support_panel_gap %}
{% set support_panel_y = scroll_container_bottom - support_panel_size %}
{% set support_inner_padding = support_layout.inner_padding %}
{% set support_content_size = support_panel_size - support_inner_padding * 2 %}
{% set support_menu_gap = support_layout.menu_gap %}
{% set support_menu_button_height = (support_content_size - support_menu_gap) // 2 %}
{% set support_toggle_size = support_layout.toggle_size %}
{% set support_toggle_x = window_gap %}
{% set support_toggle_y = scroll_container_bottom - support_toggle_size %}

{# ---- 统一 Tab 布局坐标 ---- #}
{% set tab_bar_y = 0 %}
{% set tab_section_y = 56 %}
{% set tab_hint_y = 90 %}
{% set tab_content_y = 132 %}

{# ---- Economy ---- #}
{% set economy_row_height = 32 %}
{% set economy_row_gap = 6 %}

{# ---- Demolition ---- #}
{% set demo_row_height = 58 %}
{% set demo_row_gap = 10 %}
{% set demo_all_row_height = 42 %}

{# ---- Behavior ---- #}
{% set behavior_row_height = 40 %}
{% set behavior_row_gap = 12 %}

{# ---- Reserve ---- #}
{% set reserve_row_height = 40 %}
{% set reserve_row_gap = 12 %}

{# ---- Jobs ---- #}
{% set jr_slots = job_regulation_config.display_slots | default(15) %}
{% set jr_slot_h = 44 %}
{% set jr_global_y = tab_content_y %}
{% set jr_group_bar_y = tab_content_y + 42 %}
{% set jr_cat_button_height = 36 %}
{% set jr_group_button_height = jr_cat_button_height %}
{% set jr_cat_bar_y = jr_group_bar_y + jr_group_button_height + 2 %}
{% set jr_header_y = jr_cat_bar_y + jr_cat_button_height + 10 %}
{% set jr_list_start_y = jr_header_y + 28 %}
{% set jr_cat_button_gap = 2 %}
{% set jr_table_x = content_left %}
{% set jr_table_width = content_width %}
{% set jr_col_gap = 4 %}
{% set jr_locate_x = 4 %}
{% set jr_locate_w = 24 %}
{% set jr_icon_x = jr_locate_x + jr_locate_w + jr_col_gap %}
{% set jr_icon_w = 30 %}
{% set jr_job_x = jr_icon_x + jr_icon_w + jr_col_gap %}
{% set jr_job_w = 150 %}
{% set jr_wf_x = jr_job_x + jr_job_w + jr_col_gap %}
{% set jr_wf_w = 110 %}
{% set jr_change_x = jr_wf_x + jr_wf_w + jr_col_gap %}
{% set jr_change_w = 50 %}
{% set jr_rate_x = jr_change_x + jr_change_w + jr_col_gap %}
{% set jr_rate_w = 54 %}
{% set jr_mode_w = 0 %}
{% set jr_action_w = 72 %}
{% set jr_mode_x = jr_table_width - jr_mode_w %}
{% set jr_action_x = jr_mode_x - jr_action_w - jr_col_gap %}
{% set jr_output_x = jr_rate_x + jr_rate_w + jr_col_gap %}
{% set jr_output_w = jr_action_x - jr_output_x - jr_col_gap %}

{% set categories = job_regulation_config.categories %}
{% set jr_cat_count = categories | length + 1 %}
{% set jr_category_groups = [
    {"name": "basic", "resources": ["energy", "minerals", "food"]},
    {"name": "industry", "resources": ["alloys", "consumer_goods", "trade"]},
    {"name": "knowledge", "resources": ["unity", "physics_research", "society_research", "engineering_research"]},
    {"name": "rare", "resources": ["rare_crystals", "volatile_motes", "exotic_gases"]},
    ] %}
{% set jr_cat_button_width = (full_width - (jr_cat_count - 1) * jr_cat_button_gap) // jr_cat_count %}

{% set rare_building_choices = [
    {"name": "retain", "text": "BCA_GLOBAL_SETTINGS_OPTION_RETAIN", "effect": "bca_global_settings_retain_low_level_rare_resource_buildings", "tooltip": "BCA_GLOBAL_SETTINGS_LOW_TIER_RARE_RESOURCE_BUILDINGS_RETAIN_TOOLTIP"},
    {"name": "remove", "text": "BCA_GLOBAL_SETTINGS_OPTION_REMOVE", "effect": "bca_global_settings_remove_low_level_rare_resource_buildings", "tooltip": "BCA_GLOBAL_SETTINGS_LOW_TIER_RARE_RESOURCE_BUILDINGS_REMOVE_TOOLTIP"}
    ] %}
{% set pop_assembly_choices = [
    {"name": "always", "text": "BCA_GLOBAL_SETTINGS_OPTION_ALWAYS_BUILD", "effect": "bca_global_settings_pop_assemble_always", "tooltip": "BCA_GLOBAL_SETTINGS_POP_ASSEMBLY_BUILDINGS_ALWAYS_TOOLTIP"},
    {"name": "needed", "text": "BCA_GLOBAL_SETTINGS_OPTION_BUILD_WHEN_NEEDED", "effect": "bca_global_settings_pop_assemble_needed", "tooltip": "BCA_GLOBAL_SETTINGS_POP_ASSEMBLY_BUILDINGS_NEEDED_TOOLTIP"},
    {"name": "demolish", "text": "BCA_GLOBAL_SETTINGS_OPTION_AUTO_REMOVE", "effect": "bca_global_settings_pop_assemble_demolish", "tooltip": "BCA_GLOBAL_SETTINGS_POP_ASSEMBLY_BUILDINGS_DEMOLISH_TOOLTIP"}
    ] %}
{% set deurbanization_choices = [
    {"name": "off", "text": "BCA_GLOBAL_SETTINGS_DISABLED", "effect": "bca_global_settings_deurbanization_off"},
    {"name": "on", "text": "BCA_GLOBAL_SETTINGS_ENABLED", "effect": "bca_global_settings_deurbanization_on"}
    ] %}
{% set economic_management_choices = [
    {"name": "off", "text": "BCA_GLOBAL_SETTINGS_DISABLED", "effect": "bca_global_settings_economic_management_off"},
    {"name": "on", "text": "BCA_GLOBAL_SETTINGS_ENABLED", "effect": "bca_global_settings_economic_management_on"}
    ] %}

{% set standard_negative_options = [
    {"name": "minus_2p5k", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_2P5K"},
    {"name": "minus_500", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_500"},
    {"name": "minus_100", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_100"}
    ] %}
{% set standard_positive_options = [
    {"name": "plus_100", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_100"},
    {"name": "plus_500", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_500"},
    {"name": "plus_2p5k", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_2P5K"}
    ] %}
{% set rare_negative_options = [
    {"name": "minus_125", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_125"},
    {"name": "minus_25", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_25"},
    {"name": "minus_5", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_5"}
    ] %}
{% set rare_positive_options = [
    {"name": "plus_5", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_5"},
    {"name": "plus_25", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_25"},
    {"name": "plus_125", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_125"}
    ] %}
{% set tolerance_negative_options = [
    {"name": "minus_10", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_10"},
    {"name": "minus_5", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_5"},
    {"name": "minus_1", "text": "BCA_GLOBAL_SETTINGS_STEP_MINUS_1"}
    ] %}
{% set tolerance_positive_options = [
    {"name": "plus_1", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_1"},
    {"name": "plus_5", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_5"},
    {"name": "plus_10", "text": "BCA_GLOBAL_SETTINGS_STEP_PLUS_10"}
    ] %}

{% set economic_rows = [
    {"name": "energy", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENERGY", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENERGY_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENERGY_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENERGY_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_energy", "mode_effect": "bca_global_settings_expect_output_energy_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "minerals", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_MINERALS", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_MINERALS_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_MINERALS_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_MINERALS_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_minerals", "mode_effect": "bca_global_settings_expect_output_minerals_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "food", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_FOOD", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_FOOD_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_FOOD_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_FOOD_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_food", "mode_effect": "bca_global_settings_expect_output_food_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "alloys", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ALLOYS", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ALLOYS_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ALLOYS_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_ALLOYS_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_alloys", "mode_effect": "bca_global_settings_expect_output_alloys_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "consumer_goods", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_CONSUMER_GOODS", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_CONSUMER_GOODS_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_CONSUMER_GOODS_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_CONSUMER_GOODS_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_consumer_goods", "mode_effect": "bca_global_settings_expect_output_consumer_goods_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "trade", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_TRADE", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_TRADE_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_TRADE_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_TRADE_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_trade", "mode_effect": "bca_global_settings_expect_output_trade_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "unity", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_UNITY", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_UNITY_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_UNITY_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_UNITY_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_unity", "mode_effect": "bca_global_settings_expect_output_unity_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "physics_research", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_PHYSICS_RESEARCH", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_PHYSICS_RESEARCH_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_PHYSICS_RESEARCH_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_PHYSICS_RESEARCH_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_physics_research", "mode_effect": "bca_global_settings_expect_output_physics_research_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "society_research", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_SOCIETY_RESEARCH", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_SOCIETY_RESEARCH_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_SOCIETY_RESEARCH_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_SOCIETY_RESEARCH_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_society_research", "mode_effect": "bca_global_settings_expect_output_society_research_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "engineering_research", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENGINEERING_RESEARCH", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENGINEERING_RESEARCH_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENGINEERING_RESEARCH_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_ENGINEERING_RESEARCH_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_engineering_research", "mode_effect": "bca_global_settings_expect_output_engineering_research_cycle_mode", "negative_options": standard_negative_options, "positive_options": standard_positive_options},
    {"name": "rare_crystals", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_RARE_CRYSTALS", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_RARE_CRYSTALS_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_RARE_CRYSTALS_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_RARE_CRYSTALS_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_rare_crystals", "mode_effect": "bca_global_settings_expect_output_rare_crystals_cycle_mode", "negative_options": rare_negative_options, "positive_options": rare_positive_options},
    {"name": "volatile_motes", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_VOLATILE_MOTES", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_VOLATILE_MOTES_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_VOLATILE_MOTES_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_VOLATILE_MOTES_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_volatile_motes", "mode_effect": "bca_global_settings_expect_output_volatile_motes_cycle_mode", "negative_options": rare_negative_options, "positive_options": rare_positive_options},
    {"name": "exotic_gases", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_EXOTIC_GASES", "value_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_EXOTIC_GASES_VALUE", "status_text": "BCA_GLOBAL_SETTINGS_ECONOMIC_EXOTIC_GASES_STATUS", "tooltip": "BCA_GLOBAL_SETTINGS_ECONOMIC_EXOTIC_GASES_TOOLTIP", "effect_prefix": "bca_global_settings_expect_output_exotic_gases", "mode_effect": "bca_global_settings_expect_output_exotic_gases_cycle_mode", "negative_options": rare_negative_options, "positive_options": rare_positive_options}
    ] %}

{% call shell.event_window_shell(
        window_name = "bca_global_setting_panel",
        header_text = "BCA_GLOBAL_SETTINGS_HEADER",
        width = window_width,
        height = window_height,
        show_native_event_text = false
    ) %}
containerWindowType = {
    name = "settings_scroll_container"
    position = { x = {{ scroll_container_x }} y = {{ scroll_container_y }} }
    size = { width = {{ scroll_container_width }} height = {{ scroll_container_height }} }
    verticalScrollbar = "right_vertical_slider"
    background = {
        name = "background"
        spriteType = "GFX_tiles_dark_area_cut_8"
    }

{# ---- Tab 按钮栏 ---- #}
        {{
            gsc.tab_row(
                name = "tab_select",
                x = content_x, y = tab_bar_y, width = full_width, height = 40,
                button_gap = 2,
                options = [
                {"name": "economy", "text": "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGETS_SECTION", "effect": "bca_gui_select_tab_economy"},
                {"name": "jobs", "text": "BCA_GLOBAL_SETTINGS_JOB_REGULATION_SECTION", "effect": "bca_gui_select_tab_jobs"},
                {"name": "automation", "text": "BCA_GLOBAL_SETTINGS_AUTOMATION_BEHAVIORS_SECTION", "effect": "bca_gui_select_tab_automation"}
                ]
            )
        }}

{# ═══════════════════════════════════════════════════════ #}
{# Tab 0: Economy                                            #}
{# ═══════════════════════════════════════════════════════ #}
        effectButtonType = { name = "eco_section_title" position = { x = {{ content_x }} y = {{ tab_section_y }} } size = { x = {{ full_width }} y = 28 } font = "malgun_goth_24" buttonText = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGETS_SECTION" alwaysTransparent = yes effect = "bca_tab_visible_0" }
        effectButtonType = { name = "eco_section_hint" position = { x = {{ content_x }} y = {{ tab_hint_y }} } size = { x = {{ full_width }} y = 42 } font = "cg_16b" buttonText = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGETS_HINT" alwaysTransparent = yes effect = "bca_tab_visible_0" }
        {{
            gsc.choice_row(
                name = "economic_management",
                text = "BCA_GLOBAL_SETTINGS_ECONOMIC_MANAGEMENT",
                tooltip = "BCA_GLOBAL_SETTINGS_ECONOMIC_MANAGEMENT_TOOLTIP",
                x = content_x, y = tab_content_y, width = full_width, height = 32,
                button_width = 72, button_gap = 10, options = economic_management_choices,
                label_effect = "bca_tab_visible_0"
            )
        }}
        {% set tolerance_negative_buttons = [] %}
        {% for option in tolerance_negative_options %}
            {% set _ = tolerance_negative_buttons.append({"name": option.name, "text": option.text, "effect": "bca_global_settings_economic_tolerance_" ~ option.name}) %}
        {% endfor %}
        {% set tolerance_positive_buttons = [] %}
        {% for option in tolerance_positive_options %}
            {% set _ = tolerance_positive_buttons.append({"name": option.name, "text": option.text, "effect": "bca_global_settings_economic_tolerance_" ~ option.name}) %}
        {% endfor %}
        {{
            gsc.multi_step_value_row(
                name = "economic_tolerance", text = "BCA_GLOBAL_SETTINGS_ECONOMIC_TOLERANCE",
                value_text = "BCA_GLOBAL_SETTINGS_ECONOMIC_TOLERANCE_VALUE",
                status_text = "", tooltip = "BCA_GLOBAL_SETTINGS_ECONOMIC_TOLERANCE_TOOLTIP",
                value_effect = "", value_tooltip = "",
                negative_options = tolerance_negative_buttons, positive_options = tolerance_positive_buttons,
                x = content_x, y = tab_content_y + 38, width = full_width, height = economy_row_height,
                value_width = 76, button_width = 46, button_gap = 6, control_gap = 8,
                label_effect = "bca_tab_visible_0"
            )
        }}
        {% for row in economic_rows %}
            {% set row_y = tab_content_y + 76 + loop.index0 * (economy_row_height + economy_row_gap) %}
            {% set negative_options = [] %}
            {% for option in row.negative_options %}
                {% set _ = negative_options.append({"name": option.name, "text": option.text, "effect": row.effect_prefix ~ "_" ~ option.name}) %}
            {% endfor %}
            {% set positive_options = [] %}
            {% for option in row.positive_options %}
                {% set _ = positive_options.append({"name": option.name, "text": option.text, "effect": row.effect_prefix ~ "_" ~ option.name}) %}
            {% endfor %}
            {{
                gsc.multi_step_value_row(
                    name = "economic_" ~ row.name, text = row.text, value_text = row.value_text,
                    status_text = row.status_text, tooltip = row.tooltip, value_effect = row.mode_effect,
                    value_tooltip = "BCA_GLOBAL_SETTINGS_ECONOMIC_TARGET_MODE_TOOLTIP",
                    negative_options = negative_options, positive_options = positive_options,
                    x = content_x, y = row_y, width = full_width, height = economy_row_height,
                    value_width = 76, button_width = 46, button_gap = 6, control_gap = 8,
                    label_effect = "bca_tab_visible_0", status_effect = "bca_tab_visible_0"
                )
            }}
        {% endfor %}

{# ═══════════════════════════════════════════════════════ #}
{# Tab 1: Jobs                                               #}
{# ═══════════════════════════════════════════════════════ #}
        effectButtonType = { name = "jr_section_title" position = { x = {{ content_x }} y = {{ tab_section_y }} } size = { x = {{ full_width }} y = 28 } font = "malgun_goth_24" buttonText = "BCA_GLOBAL_SETTINGS_JOB_REGULATION_SECTION" alwaysTransparent = yes effect = "bca_tab_visible_1" }
        {% if build_variant == "job_regulation" %}
            effectButtonType = { name = "jr_section_hint" position = { x = {{ content_x }} y = {{ tab_hint_y }} } size = { x = {{ full_width }} y = 42 } font = "cg_16b" buttonText = "BCA_GLOBAL_SETTINGS_JOB_REGULATION_HINT" alwaysTransparent = yes effect = "bca_tab_visible_1" }

            {{ jr.global_control_row(content_x, jr_global_y, full_width, 32) }}

            {{ jr.category_group_bar(categories, jr_category_groups, content_x, jr_group_bar_y, jr_cat_button_width, jr_cat_button_gap, jr_group_button_height) }}

            {{ jr.category_bar(categories, content_x, jr_cat_bar_y, jr_cat_button_width, jr_cat_button_gap, jr_cat_button_height) }}

            {{ jr.table_header(jr_table_x, jr_header_y, jr_job_x, jr_job_w, jr_wf_x, jr_wf_w, jr_change_x, jr_change_w, jr_rate_x, jr_rate_w, jr_output_x, jr_output_w, jr_action_x, jr_table_width - jr_action_x) }}

            {{ jr.slot_list(jr_slots, jr_table_x, jr_list_start_y + 4, jr_slot_h, jr_table_width, jr_locate_x, jr_locate_w, jr_icon_x, jr_icon_w, jr_job_x, jr_job_w, jr_wf_x, jr_wf_w, jr_change_x, jr_change_w, jr_rate_x, jr_rate_w, jr_output_x, jr_output_w, jr_action_x, jr_action_w, jr_mode_x, jr_mode_w) }}
        {% else %}
            effectButtonType = {
                name = "jr_submod_intro"
                position = { x = {{ content_x }} y = {{ tab_content_y }} }
                size = { x = {{ full_width }} y = 300 }
                font = "cg_16b"
                buttonText = "BCA_JOB_REGULATION_SUBMOD_INTRO"
                format = center
                vertical_alignment = center
                quadTextureSprite = "GFX_interface_list_dark"
                alwaysTransparent = yes
                effect = "bca_tab_visible_1"
            }
        {% endif %}

{# ═══════════════════════════════════════════════════════ #}
{# Tab 2: Automation                                         #}
{# ═══════════════════════════════════════════════════════ #}
        effectButtonType = { name = "auto_section_title" position = { x = {{ content_x }} y = {{ tab_section_y }} } size = { x = {{ full_width }} y = 28 } font = "malgun_goth_24" buttonText = "BCA_GLOBAL_SETTINGS_AUTOMATION_BEHAVIORS_SECTION" format = center vertical_alignment = center alwaysTransparent = yes effect = "bca_tab_visible_2" }
        effectButtonType = { name = "auto_section_hint" position = { x = {{ content_x }} y = {{ tab_hint_y }} } size = { x = {{ full_width }} y = 42 } font = "cg_16b" buttonText = "BCA_GLOBAL_SETTINGS_AUTOMATION_BEHAVIORS_HINT" format = center vertical_alignment = top alwaysTransparent = yes effect = "bca_tab_visible_2" }
        {{
            gsc.auto_demolition_row(name = "apply_all", text = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_ALL_AUTO_DEMOLITION",
                x = content_x, y = tab_content_y, width = full_width, height = demo_all_row_height,
                show_default = false,
                apply_enable_effect = "bca_global_settings_auto_destruction_all_enable",
                apply_disable_effect = "bca_global_settings_auto_destruction_all_disable",
                apply_enable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_ALL_AUTO_DEMOLITION_ENABLE_TOOLTIP",
                apply_disable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_ALL_AUTO_DEMOLITION_DISABLE_TOOLTIP",
                label_effect = "bca_tab_visible_2")
        }}
        {{
            gsc.auto_demolition_row(name = "buildings", text = "BCA_GLOBAL_SETTINGS_DEFAULT_BUILDING_AUTO_DEMOLITION",
                status_text = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_BUILDING_AUTO_DEMOLITION_STATUS",
                x = content_x, y = tab_content_y + demo_all_row_height + demo_row_gap, width = full_width, height = demo_row_height,
                default_enable_current_effect = "bca_global_settings_default_auto_destruction_buildings_enable_current",
                default_enable_target_effect = "bca_global_settings_default_auto_destruction_buildings_enable",
                default_disable_current_effect = "bca_global_settings_default_auto_destruction_buildings_disable_current",
                default_disable_target_effect = "bca_global_settings_default_auto_destruction_buildings_disable",
                apply_enable_effect = "bca_global_settings_auto_destruction_buildings_enable",
                apply_disable_effect = "bca_global_settings_auto_destruction_buildings_disable",
                apply_enable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_BUILDING_AUTO_DEMOLITION_ENABLE_TOOLTIP",
                apply_disable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_BUILDING_AUTO_DEMOLITION_DISABLE_TOOLTIP",
                default_enable_current_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_BUILDING_AUTO_DEMOLITION_ON_CURRENT_TOOLTIP",
                default_enable_target_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_BUILDING_AUTO_DEMOLITION_ON_TARGET_TOOLTIP",
                default_disable_current_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_BUILDING_AUTO_DEMOLITION_OFF_CURRENT_TOOLTIP",
                default_disable_target_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_BUILDING_AUTO_DEMOLITION_OFF_TARGET_TOOLTIP",
                label_effect = "bca_tab_visible_2", status_effect = "bca_tab_visible_2")
        }}
        {{
            gsc.auto_demolition_row(name = "districts", text = "BCA_GLOBAL_SETTINGS_DEFAULT_DISTRICT_AUTO_DEMOLITION",
                status_text = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_DISTRICT_AUTO_DEMOLITION_STATUS",
                x = content_x, y = tab_content_y + demo_all_row_height + demo_row_gap + demo_row_height + demo_row_gap, width = full_width, height = demo_row_height,
                default_enable_current_effect = "bca_global_settings_default_auto_destruction_districts_enable_current",
                default_enable_target_effect = "bca_global_settings_default_auto_destruction_districts_enable",
                default_disable_current_effect = "bca_global_settings_default_auto_destruction_districts_disable_current",
                default_disable_target_effect = "bca_global_settings_default_auto_destruction_districts_disable",
                apply_enable_effect = "bca_global_settings_auto_destruction_districts_enable",
                apply_disable_effect = "bca_global_settings_auto_destruction_districts_disable",
                label_effect = "bca_tab_visible_2", status_effect = "bca_tab_visible_2",
                apply_enable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_DISTRICT_AUTO_DEMOLITION_ENABLE_TOOLTIP",
                apply_disable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_DISTRICT_AUTO_DEMOLITION_DISABLE_TOOLTIP",
                default_enable_current_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_DISTRICT_AUTO_DEMOLITION_ON_CURRENT_TOOLTIP",
                default_enable_target_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_DISTRICT_AUTO_DEMOLITION_ON_TARGET_TOOLTIP",
                default_disable_current_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_DISTRICT_AUTO_DEMOLITION_OFF_CURRENT_TOOLTIP",
                default_disable_target_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_DISTRICT_AUTO_DEMOLITION_OFF_TARGET_TOOLTIP")
        }}
        {{
            gsc.auto_demolition_row(name = "zones", text = "BCA_GLOBAL_SETTINGS_DEFAULT_ZONE_AUTO_DEMOLITION",
                status_text = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_ZONE_AUTO_DEMOLITION_STATUS",
                x = content_x, y = tab_content_y + demo_all_row_height + demo_row_gap + (demo_row_height + demo_row_gap) * 2, width = full_width, height = demo_row_height,
                default_enable_current_effect = "bca_global_settings_default_auto_destruction_zones_enable_current",
                default_enable_target_effect = "bca_global_settings_default_auto_destruction_zones_enable",
                default_disable_current_effect = "bca_global_settings_default_auto_destruction_zones_disable_current",
                default_disable_target_effect = "bca_global_settings_default_auto_destruction_zones_disable",
                apply_enable_effect = "bca_global_settings_auto_destruction_zones_enable",
                apply_disable_effect = "bca_global_settings_auto_destruction_zones_disable",
                label_effect = "bca_tab_visible_2", status_effect = "bca_tab_visible_2",
                apply_enable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_ZONE_AUTO_DEMOLITION_ENABLE_TOOLTIP",
                apply_disable_tooltip = "BCA_GLOBAL_SETTINGS_EXISTING_PLANETS_ZONE_AUTO_DEMOLITION_DISABLE_TOOLTIP",
                default_enable_current_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_ZONE_AUTO_DEMOLITION_ON_CURRENT_TOOLTIP",
                default_enable_target_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_ZONE_AUTO_DEMOLITION_ON_TARGET_TOOLTIP",
                default_disable_current_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_ZONE_AUTO_DEMOLITION_OFF_CURRENT_TOOLTIP",
                default_disable_target_tooltip = "BCA_GLOBAL_SETTINGS_DEFAULT_ZONE_AUTO_DEMOLITION_OFF_TARGET_TOOLTIP")
        }}

        {{
            gsc.choice_row(name = "rare_buildings", text = "BCA_GLOBAL_SETTINGS_LOW_TIER_RARE_RESOURCE_BUILDINGS", tooltip = "BCA_GLOBAL_SETTINGS_LOW_TIER_RARE_RESOURCE_BUILDINGS_TOOLTIP",
                x = content_x, y = tab_content_y + demo_all_row_height + demo_row_gap + (demo_row_height + demo_row_gap) * 3 + behavior_row_gap, width = full_width, height = behavior_row_height, button_width = 92, button_gap = 10, options = rare_building_choices, label_effect = "bca_tab_visible_2")
        }}
        {{
            gsc.choice_row(name = "pop_assembly", text = "BCA_GLOBAL_SETTINGS_POP_ASSEMBLY_BUILDINGS", tooltip = "BCA_GLOBAL_SETTINGS_POP_ASSEMBLY_BUILDINGS_TOOLTIP",
                x = content_x, y = tab_content_y + demo_all_row_height + demo_row_gap + (demo_row_height + demo_row_gap) * 3 + behavior_row_gap + behavior_row_height + behavior_row_gap, width = full_width, height = behavior_row_height, button_width = 86, button_gap = 8, options = pop_assembly_choices, label_effect = "bca_tab_visible_2")
        }}
        {{
            gsc.choice_row(name = "deurbanization", text = "BCA_GLOBAL_SETTINGS_DEURBANIZATION", tooltip = "BCA_GLOBAL_SETTINGS_DEURBANIZATION_TOOLTIP",
                x = content_x, y = tab_content_y + demo_all_row_height + demo_row_gap + (demo_row_height + demo_row_gap) * 3 + behavior_row_gap + (behavior_row_height + behavior_row_gap) * 2, width = full_width, height = behavior_row_height, button_width = 72, button_gap = 10, options = deurbanization_choices, label_effect = "bca_tab_visible_2")
        }}

        {% for row in bca_global_settings_reserve_rows %}
            {% set row_y = tab_content_y + demo_all_row_height + demo_row_gap + (demo_row_height + demo_row_gap) * 3 + behavior_row_gap + (behavior_row_height + behavior_row_gap) * 3 + reserve_row_gap + loop.index0 * (reserve_row_height + reserve_row_gap) %}
            {% set negative_options = [] %}
            {% for option in row.negative_options %}
                {% set _ = negative_options.append({"name": option.name, "text": option.text, "effect": row.effect_prefix ~ "_" ~ option.name}) %}
            {% endfor %}
            {% set positive_options = [] %}
            {% for option in row.positive_options %}
                {% set _ = positive_options.append({"name": option.name, "text": option.text, "effect": row.effect_prefix ~ "_" ~ option.name}) %}
            {% endfor %}
            {{
                gsc.multi_step_value_row(
                    name = "reserve_" ~ row.name, text = row.text, value_text = row.value_text,
                    tooltip = row.tooltip, value_effect = "",
                    negative_options = negative_options, positive_options = positive_options,
                    x = content_x, y = row_y, width = full_width, height = reserve_row_height,
                    value_width = 84, button_width = 46, button_gap = 6, control_gap = 8,
                    label_effect = "bca_tab_visible_2"
                )
            }}
        {% endfor %}
    }

{# ---- Support overlay. The shell has clipping disabled for the external panel. ---- #}
effectButtonType = {
    name = "support_panel_background"
    position = { x = {{ support_panel_x }} y = {{ support_panel_y }} }
    size = { x = {{ support_panel_size }} y = {{ support_panel_size }} }
    quadTextureSprite = "gfx_message_bg"
    effect = "bca_support_overlay_visible"
}
effectButtonType = {
    name = "support_platform"
    position = {
        x = {{ support_panel_x + support_inner_padding }}
        y = {{ support_panel_y + support_inner_padding }}
    }
    size = { x = {{ support_content_size }} y = {{ support_menu_button_height }} }
    font = "cg_16b"
    buttonText = "BCA_SUPPORT_PLATFORM_BUTTON"
    multiline = yes
    format = center
    vertical_alignment = center
    quadTextureSprite = "GFX_bca_button_standard_disabled"
    effect = "bca_support_platform_select"
}
effectButtonType = {
    name = "support_unity"
    position = {
        x = {{ support_panel_x + support_inner_padding }}
        y = {{ support_panel_y + support_inner_padding + support_menu_button_height + support_menu_gap }}
    }
    size = { x = {{ support_content_size }} y = {{ support_menu_button_height }} }
    font = "cg_16b"
    buttonText = "BCA_SUPPORT_UNITY_BUTTON"
    format = center
    vertical_alignment = center
    quadTextureSprite = "GFX_bca_button_standard_disabled"
    effect = "bca_support_unity_select"
}
effectButtonType = {
    name = "support_display"
    position = {
        x = {{ support_panel_x + support_inner_padding }}
        y = {{ support_panel_y + support_inner_padding }}
    }
    size = { x = {{ support_content_size }} y = {{ support_content_size }} }
    font = "cg_16b"
    buttonText = "BCA_SUPPORT_DISPLAY_IMAGE"
    format = center
    vertical_alignment = center
    quadTextureSprite = "gfx_message_bg"
    effect = "bca_support_display_advance"
}
effectButtonType = {
    name = "support_frame_1"
    position = { x = {{ support_panel_x }} y = {{ support_panel_y }} }
    size = { x = {{ support_panel_size }} y = {{ support_panel_size }} }
    quadTextureSprite = "gfx_planet_frame_tile"
    effect = "bca_support_overlay_visible"
    alwaysTransparent = yes
}
effectButtonType = {
    name = "support_frame_2"
    position = { x = {{ support_panel_x }} y = {{ support_panel_y }} }
    size = { x = {{ support_panel_size }} y = {{ support_panel_size }} }
    quadTextureSprite = "GFX_light_frame_area"
    effect = "bca_support_overlay_visible"
    alwaysTransparent = yes
}
effectButtonType = {
    name = "support_toggle"
    position = { x = {{ support_toggle_x }} y = {{ support_toggle_y }} }
    size = { x = {{ support_toggle_size }} y = {{ support_toggle_size }} }
    font = "cg_16b"
    buttonText = "BCA_SUPPORT_ENTRY_ICON"
    tooltipText = "BCA_SUPPORT_ENTRY_TOOLTIP"
    format = center
    vertical_alignment = center
    quadTextureSprite = "GFX_bca_button_standard_disabled"
    effect = "bca_support_toggle"
}
{% endcall %}
