spriteTypes = {
    spriteType = {
        name = "GFX_text_bca_gs_dot_red"
        texturefile = "gfx/interface/icons/dot_red.dds"
    }
    spriteType = {
        name = "GFX_text_bca_gs_dot_green"
        texturefile = "gfx/interface/icons/dot_green.dds"
    }
    spriteType = {
        name = "GFX_text_bca_gs_dot_blue"
        texturefile = "gfx/interface/icons/dot_blue.dds"
    }
}
